slither-analyzer==0.9.6
solc-select==0.8.0
solidity-parser==0.1.1
streamlit==1.27.2
streamlit-authenticator==0.2.3
streamlit-option-menu==0.3.6
Flask==3.0.0
graphviz==0.20.1
matplotlib==3.8.0
numpy==1.26.0
openai==0.28.1
pandas==2.1.1
Pillow==10.0.1
py-solc==3.2.0
py-solc-x==1.1.1
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
urllib3==2.0.6
